@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
p,
h1,
h2,
h3 {
  margin: 0.7em;
}

:root {
  font-size: 62.5%; /* normalizes: 1rem = 10px  the rest goes in typography components*/
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 500px) {
  :root {
    font-size: 49%; /*stablish small a around 12px*/
  }
}
